:root {
  --gap: 2em;
}

body {
  background-color: antiquewhite;
  margin: 0;
}

.columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--gap) 0;
}

img {
  border-radius: var(--gap);
}

@keyframes adjust-position {
  from {
    transform: translateY(calc(-100% + 100vh));
  }
  to {
    transform: translateY(calc(100% - 100vh));
  }
}

@supports (animation-timeline: scroll()) {
  .column-reverse {
    transform: translateY(calc(-100% + 100vh));
    flex-direction: column-reverse;
    animation: adjust-position linear forwards;
    animation-timeline: scroll(root block);
  }

  .columns {
    overflow-y: clip;
  }
}
